@font-face {
    font-family: "menu-font";
    src: url(AnekMalayalam-Regular.ttf);
}
@font-face {
    font-family: "baskerville-fanci";
    src: url(Baskerville-fanci.ttf);
}
@font-face {
    font-family: "baskerville-old-face";
    src: url(baskerville-old-face.ttf);
}