*{
    padding: 0;
    margin: 0;
}

header{
    font-family: "baskerville-fanci";
    font-size: x-large;
    height: 1.5cm;
    margin-top: 1cm;
    margin-left:1cm;
}
body{
    display: flex;
    flex-direction: column;
    margin:0px;
    background-color:rgb(255, 244, 235);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.blak-n-white{
    margin:0px;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    min-width: 100%;
    float: left;
    
}
.menu {
    display: flex;
    background-color: black;
    list-style: none;
    width: 100%;
}
.menu_li{
    margin: 1%;
}
.floating-menu{
    position: fixed;
    z-index: 1;
    top:0;
}
.uncolored-link{
    color: white;
    text-decoration: none;
    margin: 1%;
}
.fanci-table-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.superpos{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(255,255, 255, .5);
    height: calc(var(--table-img-height)/3);
    width: 100%;
}
.big-text{
    color: rgb(135, 43, 69);
    font-size: calc((var(--table-img-height)/3)/4);
    font-family:"baskerville-fanci";
    margin: auto;
    margin-top:calc((var(--table-img-height)/3)/5);
}
.middle-text{
    color: white;
    font-size: large;
    font-family:"baskerville-fanci";
    margin: auto;
}
.small-text{
    font-size: large;
    font-family:"baskerville-old-face";
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top:calc((var(--table-img-height)/3)/7);
}
.mosaic-container{
    display: flex;
    flex-direction: row;
}
.vcontainer{
    display: flex;
    flex-direction: column;
    width: 24.7%;
    margin: 2px;
}
.mosaic-img{
    width: 100%;
    margin: 2px;
}
.buddha{
    display: flex;
    flex-direction: column;
    background-color:rgb(135, 43, 69);
    color: white;
    min-height: 25vh;
    height: auto;
    width: 100%;
}
